
<div class="container">
  <% @books.each do |book| %>

    <%= book.title %>
    <%= book.author %>
    <%= book.sales_date %>
    <%= image_tag book.image %>
    <%= link_to '楽天へ', book.rakuten_url %>
    
  <% end %>

</div>