<div class="center mt-5">
  <h2><%= @book.title %></h2>
  <h4><%= @book.author %></h4>
</div>


<div class="row justify-content-center">
  <% if user_signed_in? %>
    <div class="col-lg-2 mr-3">
  <% else %>
    <div class="col-lg-2">
  <% end %>
    <p><%= image_tag(@book.image) %></p>
    <%= link_to @book.rakuten_url do %>
      楽天ブックスへ
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div class="col-lg-6 mb-5">
  <% else %>
    <div class="col-lg-7 mt-5">
  <% end %>
    <p><%= @book.item_caption %>)</p>
    <p>
      <%= @book.publisher_name %>／
      <%= @book.sales_date %>／
      <%= @book.item_price %>円(税込み)
    </p>
  </div>

  <div class="col-lg-3 my- ml-5">
    <div class="want_<%= @book.id %>"><%= render 'user/wants/want_btn', book: @book %></div>
    <div class="reading_<%= @book.id %>"><%= render 'user/readings/reading_btn', book: @book %></div>
    <div class="read_<%= @book.id %>"><%= render 'user/reads/read_btn', book: @book %></div>
    <div class="get_<%= @book.id %>"><%= render 'user/gets/get_btn', book: @book %></div>
  </div>
</div>

<% if @reviews.exists? %>
  <div class="row justify-content-center mt-5"><h3>みんなの感想</h3></div>

  <% @reviews.each do |review| %>
    <div class="row border p-3 mt-3">
      <div class="col-lg-3 center">
        <%= link_to user_path(review.user_id) do %>
          <%= image_tag review.user.get_profile_image(200,200) %>
          <p><%= review.user.name %></p>
        <% end %>
      </div>
      <div class="col-lg-9">
        <%= render 'user/reviews/review', review: review %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="row justify-content-center mt-5"><h3>感想はまだありません</h3></div>
<% end %>
<div class="row justify-content-center my-3"><%= paginate @reviews %></div>



