
<div class="center mt-5">
  <h2>読んだ本一覧(<%= @user.reads.count %>冊)</h2>
</div>

<div class="row justify-content-center mb-5">
  <% @reads.each do |read| %>
    <div class="link col-lg-2 border pt-3 m-3">
      <div onclick="window.location.href='<%= book_path(read.book.id) %>'" role="link">
        <div class="row text-center mb-3"><%= read.book.title %></div>
        <div class="row justify-content-center mb-3"><%= image_tag(read.book.image_m) %></div>
        <div class="row justify-content-center mb-3"><%= read.book.author %></div>
        <div class="row justify-content-center mb-3"><%= read.book.publisher_name %></div>
      </div>
      <% if user_signed_in? && read.user == current_user %>
        <%= link_to read_path(read.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
          <div class="edit">削除</div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="row justify-content-center mb-3"><%= paginate @reads %></div>