<h1>Type</h1>

<%= form_with model: @type, url: admin_type_path, method: :patch do |f| %>
  <div id="sign" class="row offset-2">
  <%= f.label :name, "本の種類", class: "col-lg-2" %>
  <%= f.text_field :name, class: "form-control col-lg-6" %>
  <div class="col-lg-2">
    <%= f.submit "編集", class: "btn" %>
  </div>
</div>
<% end %>

<p><%= link_to "戻る", admin_types_path %></p>