<div class="center">
  <h2>新規会員登録</h2>


  <%= form_with model: @user, url: user_registration_path, method: :post do |f| %>
    <%= render "layouts/errors", obj: @user %>

    <div id="form" class="row">
      <%= f.label :name, "名前", class: "col-lg-4" %>
      <%= f.text_field :name, autofocus: true, class: "form-control col-lg-5" %>
    </div>

    <div id="form" class="row">
      <%= f.label :birthday, "生年月日", class: "col-lg-4" %>
      <%= f.date_select(
        :birthday,
        use_month_numbers: true, #数字で月を表示
        default: Date.new(1990, 1, 1), #初期設定
        start_year:     1950, #開始年
        end_year:       (Time.now.year), #終了年月日（now）
        class: "form-control col-lg-5")
      %>
    </div>

    <div id="form" class="row">
      <%= f.label :birthday_active, "生年月日公開設定", class: "col-lg-4" %>
      <p class="col-lg-5 text-left">
        <span>公開　<%= f.radio_button :birthday_active, 'true', checked: false %></span>
        <span>　　非公開　<%= f.radio_button :birthday_active, 'false', checked: false %></span>
      </p>
    </div>

    <div id="form" class="row">
      <%= f.label :profile_image, "プロフィール画像", class: "col-lg-4" %>
      <%= f.file_field :profile_image, accept: "image/*", class: "col-lg-5" %>
    </div>


    <div id="form" class="row">
      <%= f.label :sex, "性別", class: "col-lg-4" %>
      <p class="col-lg-5 text-left">
        <span>男性　<%= f.radio_button :sex, 'true', checked: false %></span>
        <span>　　女性　<%= f.radio_button :sex, 'false', checked: false %></span>
      </p>
    </div>

    <div id="form" class="row">
      <%= f.label :sex_active, "性別公開設定", class: "col-lg-4" %>
      <p class="col-lg-5 text-left">
        <span>公開　<%= f.radio_button :sex_active, 'true', checked: false %></span>
        <span>　　非公開　<%= f.radio_button :sex_active, 'false', checked: false %></span>
      </p>
    </div>


    <div id="form" class="row">
      <%= f.label :introduction, "自己紹介", class: "col-lg-4" %>
      <%= f.text_area :introduction, class: "form-control col-lg-5", size: "30x10" %>
    </div>

    <div id="form" class="row">
      <%= f.label :mystery_active, "謎解き方法表示設定", class: "col-lg-4" %>
      <p class="col-lg-5 text-left">
        <span>公開　<%= f.radio_button :mystery_active, 'true', checked: false %></span>
        <span>　　非公開　<%= f.radio_button :mystery_active, 'false', checked: false %></span>
      </p>
      <div class="col-lg-4"></div>
      <div class="col-lg-5 text-left">
        <p>レビューにタグ付けされた謎解きに関する表示設定です。</p>
        <p>登録後、マイページの設定から変更が可能です。</p>
      </div>
    </div>

    <div id="form" class="row">
      <%= f.label :email, "メールアドレス", class: "col-lg-4" %>
      <%= f.email_field :email, autocomplete: "email", class: "form-control col-lg-5" %>
    </div>

    <div id="form" class="row">
      <%= f.label :password, "パスワード(6文字以上)", class: "col-lg-4" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control col-lg-5" %>
    </div>

    <div id="form" class="row">
      <%= f.label :password_confirmation, "パスワード(確認用)", class: "col-lg-4" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control col-lg-5" %>
    </div>

    <div id="form" class="row justify-content-center mt-5">
      <%= f.submit "登録", class: "submit_create col-lg-2" %>
    </div>
  <% end %>

  <%= render "user/shared/links" %>

</div>

