<h2>レビューされた本</h2>

  <div class="row border p-3">
    <div class="col-lg-2 offset-2"><p><%= image_tag(@review.book.image) %></p></div>

    <div class="col-lg-6">
      <h3>『 <%= @review.book.title %> 』</h3>
      <h4><%= @review.book.author %></h4>
      出版：<%= @review.book.publisher_name %>
      <%= @review.book.item_caption %>
    </div>
  </div>

<div class="show_table mt-5">
  <table class="table table-bordered">
    <tr>
      <td class="tr">投稿者</td>
      <td>
        <%= @review.user.name %>
      </td>
    </tr>
    <tr>
      <td class="tr"></td>
        <td>
          <%= image_tag @review.user.get_profile_image(100,100) %>
          <%= link_to 'ユーザー詳細へ', admin_user_path(@review.user.id) %>
        </td>
      </td>
    </tr>
    <tr>
      <td class="tr">本の種類</td>
      <td><%= @review.type.name %></td>
    </tr>
    <tr>
      <td class="tr">本の長さ</td>
      <td><%= @review.long.name %></td>
    </tr>
    <tr>
      <td class="tr">謎解き方法</td>
      <td>
        <% @review.mysteries.each do |mystery| %>
          <li><%= mystery.name %></li>
        <% end %>
     </td>
    </tr>
    <tr>
      <td class="tr">読みやすさ</td>
      <td>
        <% @review.difficulties.each do |difficulty| %>
          <li><%= difficulty.name %></li>
        <% end %>
     </td>
    </tr>
    <tr>
      <td class="tr">タグ</td>
      <td>
        <% @review.tags.each do |tag| %>
          <li><%= tag.name %></li>
        <% end %>
    </tr>
    <tr>
      <td class="tr">内容</td>
      <% unless @review.body.nil? %>
        <td class="warp"><%= safe_join(@review.body.split("\n"),tag(:br)) %></td>
      <%end %>
    </tr>
    <tr>
      <td class="tr">ネタバレ</td>
      <% unless @review.netabare.nil? %>
        <td class="warp"><%= safe_join(@review.netabare.split("\n"),tag(:br)) %></td>
      <%end %>
    </tr>
    <tr>
  </table>
</div>



<div class="row justify-content-center mt-5">
  <div class="col-lg-3"><%= link_to "編集", edit_admin_review_path(@review), class: "edit" %></div>
  <div class="col-lg-3"><%= link_to "削除", admin_review_path(@review), method: :delete, "data-confirm" => "本当に削除しますか？", class: "delete" %></div>
</div>

<br><br><br>
<div class="center"><%= link_to "戻る", admin_reviews_path %></div>
<br><br><br>