
<div class="container">



  <dvi class="row justify-content-center mt-5"><h2>Long</h2></dvi>

  <%= form_with model: @long, url: admin_longs_path, method: :post do |f| %>
    <div class="form-grop row offset-1 mt-5">
      <%= f.label :name,"長さ", class: "col-lg-2 mr-5" %>
      <%= f.text_field :name, class: "col-lg-6" %>
      <div class="col-lg-2">
        <%= f.submit "保存", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <div class="row mt-3 offset-1">
    <% @longs.each do |long| %>
      <div class="col-lg-6"><%= long.name %></div>
      <%= link_to "編集",edit_admin_long_path(long.id), class: "col-lg-3" %>
      <%= link_to "削除",admin_long_path(long.id), method: :delete, class: "col-lg-3" %>
    <% end %>
  </div>





  




  <dvi class="row justify-content-center border-top mt-5"><h2>Mystery</h2></dvi>

  <%= form_with model: @mystery, url: admin_mysteries_path, method: :post do |f| %>
    <div class="form-grop row offset-1 mt-5">
      <%= f.label :name,"種類", class: "col-lg-2 mr-5" %>
      <%= f.text_field :name, class: "col-lg-6" %>
      <div class="col-lg-2">
        <%= f.submit "保存", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <div class="row mt-3 offset-1">
    <% @mysteries.each do |mystery| %>
      <div class="col-lg-6"><%= mystery.name %></div>
      <%= link_to "編集",edit_admin_mystery_path(mystery.id), class: "col-lg-3" %>
      <%= link_to "削除",admin_mystery_path(mystery.id), method: :delete, class: "col-lg-3" %>
    <% end %>
  </div>




  <dvi class="row justify-content-center border-top mt-5"><h2>Difficulty</h2></dvi>

  <%= form_with model: @difficulty, url: admin_difficulties_path, method: :post do |f| %>
    <div class="form-grop row offset-1 mt-5">
      <%= f.label :name,"読みやすさ", class: "col-lg-2 mr-5" %>
      <%= f.text_field :name, class: "col-lg-6", autofocus: true %>
      <div class="col-lg-2">
        <%= f.submit "保存", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <div class="row mt-3 offset-1">
    <% @difficulties.each do |difficulty| %>
      <div class="col-lg-6"><%= difficulty.name %></div>
      <%= link_to "編集",edit_admin_difficulty_path(difficulty.id), class: "col-lg-3" %>
      <%= link_to "削除",admin_difficulty_path(difficulty.id), method: :delete, class: "col-lg-3" %>
    <% end %>
  </div>




  <dvi class="row justify-content-center border-top mt-5"><h2>Tag</h2></dvi>

  <%= form_with model: @tag, url: admin_tags_path, method: :post do |f| %>
    <div class="form-grop row offset-1 mt-5">
      <%= f.label :name,"タグ", class: "col-lg-2 mr-5" %>
      <%= f.text_field :name, class: "col-lg-6" %>
      <div class="col-lg-2">
        <%= f.submit "保存", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <div class="row mt-3 offset-1">
    <% @tags.each do |tag| %>
      <div class="col-lg-6"><%= tag.name %></div>
      <%= link_to "編集",edit_admin_tag_path(tag.id), class: "col-lg-3" %>
      <%= link_to "削除",admin_tag_path(tag.id), method: :delete, class: "col-lg-3" %>
    <% end %>
  </div>



  <div class="row m-5"></div>
</div>