<div class="center">
  <h2><i class="fas fa-pen-fancy"></i> 　レビューを投稿</h2>

  <div class="row offset-1 mt-5 justify-content-center">
    <%= form_with model: @review, url: reviews_path, method: :post do |f| %>
      <%= render "layouts/errors", obj: @review %>

      <!--Book_idに本のisbn送信-->
      <%= f.hidden_field :book_id, :value => @isbn %>

      <!--Type選択セレクトボックス-->
      <div  id="form" class="row">
        <%= f.label :type_id,"分類", class: "col-lg-4" %><div class="red">＊</div>
        <%= f.collection_select :type_id, Type.all, :id, :name, include_blank: "選択してください", class: "col-lg-6" %>
      </div>

      <!--Long選択セレクトボックス-->
      <div  id="form" class="row">
        <%= f.label :long_id,"長さ", class: "col-lg-4" %><div class="red">＊</div>
        <%= f.collection_select :long_id, Long.all, :id, :name, include_blank: "選択してください", class: "col-lg-6" %>
      </div>

      <!--Mystery複数選択チェックボックス-->
      <div  id="form" class="row">
        <%= f.label :mystery_id, "謎解き方法", class: "col-lg-4" %>
        <div id="wrap" class="col-lg-6 text-left">
          <%= collection_check_boxes(:review, :mystery_ids, Mystery.all, :id, :name) do |b| %>
            <%= b.label { b.check_box + b.text } %>
          <% end %>
        </div>
      </div>

      <!--謎解き方法複数選択セレクトボックス-->
      <div  id="form" class="row">
        <%= f.label :difficulty_id, "読みやすさ", class: "col-lg-4" %>
        <div id="wrap" class="col-lg-6 text-left">
          <%= collection_check_boxes(:review, :difficulty_ids, Difficulty.all, :id, :name) do |b| %>
            <%= b.label { b.check_box + b.text } %>
          <% end %>
        </div>
      </div>

      <!--タグ複数選択セレクトボックス-->
      <div  id="form" class="row">
        <%= f.label :tag_id, "タグ", class: "col-lg-4" %>
        <div id="wrap" class="col-lg-6 text-left">
          タグ付けで迷ったら<%= link_to "about", about_path, target: :_blank, rel: "noopener noreferrer" %>を参考にして下さい
        </div>
      </div>
      <div id="form" class="row">
        <div class="col-lg-4"></div>
        <div id="wrap" class="col-lg-6 text-left">
          <%= collection_check_boxes(:review, :tag_ids, Tag.all, :id, :name) do |b| %>
            <%= b.label { b.check_box + b.text } %>
          <% end %>
        </div>
      </div>

       <!--感想入力フォーム-->
      <div  id="form" class="row">
        <%= f.label :body,"感想", class: "col-lg-4" %>
        <%= f.text_area :body, class: "form-control col-lg-6", size: "30x10" %>
      </div>

      <!--ネタバレ含む感想入力フォーム-->
      <div  id="form" class="row">
        <%= f.label :netabare,"ネタバレ含む", class: "col-lg-4" %>
        <div class="red col-lg-7 text-left">ネタバレを含む内容は<strong>必ず</strong>こちらに書いてください</div>
      </div>
      <div  id="form" class="row">
        <div class="col-lg-4"></div>
        <%= f.text_area :netabare, class: "form-control col-lg-6", size: "30x10" %>
      </div>

      <br><br>
      <div class="row justify-content-center">
        <%= f.submit "投稿", class: "submit_create col-lg-3 mr-5" %>
        <%= link_to 'レビューは投稿しない', book_path(@isbn), class: "delete col-lg-3" %>
      </div>
    <% end %>
  </div>
</div>
