<div class="user_info">
  <h4><p><%= user.name %></p></h4>
  <p><%= image_tag user.get_profile_image(200,200) %></p>
  <p>
    <% unless user.introduction.nil? %>
      <%=safe_join(user.introduction.split("\n"),tag(:br))%>
    <%end %>
  </p>

  <% if user.birthday_active == true %>
    <p><%= user.birthday %></p>
  <% end %>

  <% if user.sex_active == true %>
    <p>
      <% if user.sex == true %>
        男性
      <% else %>
        女性
      <% end %>
    </p>
  <% end %>



  <p>
    <%= link_to user_followings_path(user) do %>
      <span>Follow　<%= user.followings.count %></span>
    <% end %>
    <span class="m-3"><i class="fas fa-users"></i></span>
    <%= link_to user_followers_path(user) do %>
      <span>Follower　<%= user.followers.count %></span>

    <% end %>
  </p>
</div>

<div class="user_books">
  <%= link_to  user_want_path(user) do %>
    読みたい本一覧　　　<%= image_tag 'yomitai' %>
  <% end %>
  <%= link_to  user_reading_path(user) do %>
    読んでる本一覧　　　<%= image_tag 'yonderu' %>
  <% end %>
  <%= link_to user_read_path(user) do %>
    読んだ本一覧　　　　<%= image_tag 'yonda' %>
  <% end %>
  <%= link_to user_get_path(user) do %>
    読んでる本一覧　　　<%= image_tag 'tundoku' %>
  <% end %>
</div>

<% if user == current_user && user.name != "guestuser" %>
  <%= link_to edit_user_path(current_user.id), class: "btn btn-secondary btn-block mt-3" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
<% elsif user.name != "guestuser" %>
  <%= render 'user/follow_relationships/follow_btn', user: user %>
<% end %>

