<div class="center">
  <h4><p><%= user.name %></p></h4>
  <p><%= image_tag user.get_profile_image(200,200) %></p>
  <div class="body_warp">
    <% unless user.introduction.nil? %>
      <%=safe_join(user.introduction.split("\n"),tag(:br))%>
    <%end %>
  </div>

  <% if user.birthday_active == true %>
    <p><%= user.birthday %></p>
  <% end %>

  <% if user.sex_active == true %>
    <p>
      <% if user.sex == true %>
        男性
      <% else %>
        女性
      <% end %>
    </p>
  <% end %>

  <p>
    <%= link_to user_followings_path(user) do %>
      <span class="followings_<%= user.id %>">Follow　<%= user.followings.count %></span>
    <% end %>
    <span class="m-3"><i class="fas fa-users"></i></span>
    <%= link_to user_followers_path(user) do %>
      <span class="folloewes_<%= user.id %>">Follower　<%= user.followers.count %></span>
    <% end %>
  </p>
</div>

<%= link_to  user_want_path(user), class: "book" do %>
  読みたい本一覧　　　<%= image_tag 'yomitai.png' %>
<% end %>
<%= link_to  user_reading_path(user), class: "book" do %>
  読んでる本一覧　　　<%= image_tag 'yonderu.png' %>
<% end %>
<%= link_to user_read_path(user), class: "book" do %>
  読んだ本一覧　　　　<%= image_tag 'yonda.png' %>
<% end %>
<%= link_to user_review_path(user), class: "book" do %>
  レビュー一覧　　　　<%= image_tag 'review.png' %>
<% end %>
<%= link_to user_get_path(user), class: "book" do %>
  積読本一覧　　　　<%= image_tag 'tundoku.png' %>
<% end %>

<% if user == current_user && user.name != "guestuser" %>
  <%= link_to edit_user_path(current_user.id), class: "submit_create mt-3" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
<% elsif user.name != "guestuser" %>
  <div class="follow_btn_<%= user.id %>"><%= render 'user/follow_relationships/follow_btn', user: user %></div>
<% end %>
