<!--ユーザー情報表示-->
<div class="row mt-5">

  <div class="col-lg-4 mr-5"><%= render 'user/users/user_info', user: @user %></div>

  <div class="col-lg-7">
    <% @user_actions.each do |obj| %>
      <% if obj.kind_of?(Review) %>
        <div class="border p-3 mb-3">
          <div class="center mb-2"><%= image_tag 'review.png' %>　<strong><%= obj.book.title %></strong></div>
          <div class="row">
            <div class="col-lg-3"><%= image_tag(obj.book.image) %></div>
            <div class="col-lg-9"><%= render 'user/reviews/review', review: obj %></div>
          </div>
        </div>

      <% elsif obj.kind_of?(Want) %>
        <div class="border p-3 mb-3" onclick="window.location.href='<%= book_path(obj.book.id) %>'" role="link">
          <div class="row">
            <div class="col-lg-2"><%= image_tag(obj.book.image_m) %></div>
            <%= render 'user/wants/action', obj: obj %>
          </div>
        </div>

      <% elsif obj.kind_of?(Reading) %>
        <div class="border p-3 mb-3" onclick="window.location.href='<%= book_path(obj.book.id) %>'" role="link">
          <div class="row">
            <div class="col-lg-2"><%= image_tag(obj.book.image_m) %></div>
            <%= render 'user/readings/action', obj: obj %>
          </div>
        </div>

      <% elsif obj.kind_of?(Read) %>
        <div class="border p-3 mb-3" onclick="window.location.href='<%= book_path(obj.book.id) %>'" role="link">
          <div class="row">
            <div class="col-lg-2"><%= image_tag(obj.book.image_m) %></div>
            <%= render 'user/reads/action', obj: obj %>
          </div>
        </div>

      <% else %>
        <div class="border p-3 mb-3" onclick="window.location.href='<%= book_path(obj.book.id) %>'" role="link">
          <div class="row">
            <div class="col-lg-2"><%= image_tag(obj.book.image_m) %></div>
            <%= render 'user/gets/action', obj: obj %>
          </div>
        </div>

      <% end %>

    <% end %>
    <div class="row justify-content-center offset-1 mt-5"><%= paginate @user_actions %></div>


  </div>
</div>
