<% comments.each do |comment| %>
  <div class="row border-top p-3">
    <div class="col-lg-2">
      <%= link_to user_path(comment.user_id) do %>
        <%= image_tag comment.user.get_profile_image(80,80) %>
        <p><%= comment.user.name %></p>
      <% end %>
    </div>
    <div class="col-lg-8">
      <p><%= comment.comment %></p>
      <p>(<%= comment.created_at.strftime('%Y/%m/%d %I:%M:%S') %>)</p>
      <p><% if comment.user == current_user %>
          <%= link_to "削除", review_comment_path(comment.review, comment), method: :delete, remote: true, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
          <% end %></p>
    </div>
  </div>
<% end %>

