  <% if @reviews.exists? %>
    <div class="row justify-content-center mt-5"><h3>みんなの感想</h3></div>
    
    
    <% reviews.each do |review| %>
      <%= render 'user/reviews/review', review: review %>


            <div class="row">
               <div class="favorite_<%= review.id %>">
                <%= render 'user/favorites/favorite_btn' , review: review %>
              </div>
              <p>コメント件数：<%= review.comments.count %></p>
              <%= link_to "レビュー詳細へ", review_path(review.id) %>
            </div>

    <% end %>
  <% else %>
    <div class="row justify-content-center mt-5"><h3>感想はまだありません</h3></div>
  <% end %>


