<div class="review">
  <p><i class="fas fa-book"></i> <%= review.type.name %> / <%= review.long.name %></p>
  <p><i class="fas fa-search"></i>
    <% review.mysteries.each do |mystery| %>
      <%= mystery.name %>
   <% end %>
  </p>
  <p><i class="fas fa-book-reader"></i>
    <% review.difficulties.each do |difficulty| %>
      <%= difficulty.name %>
     <% end %>
  </p>

  <p>
    <i class="fas fa-paperclip"></i>
    <% review.tags.each do |tag| %>
      <%= tag.name %>
   <% end %>
  </p>
  
  
  
    
    
  <div class="review_body"><i class="fas fa-file-alt"></i>
    <div>
      <%if review.body.nil? %>
        <%= review.body %>
      <% else %>
        <%= safe_join(review.body.split("\n"),tag(:br))%>
      <%end %>
    </div>
    
    <i class="fas fa-exclamation-triangle"></i><span class="red">ネタバレを含む内容があります</span>
    <div class="netabare on">
      <%if review.netabare.nil? %>
        <%= review.netabare %>
      <% else %>
        <%= safe_join(review.netabare.split("\n"),tag(:br))%>
      <%end %>
    </div>
    <script>
      $(document).ready(function () {
        $(document).on('click', '.netabare', function() {
          $(this).removeClass('on');
        });
      });
      </script>
    <p><i class="fas fa-clock"></i> <%= review.created_at.strftime('%Y/%m/%d %I:%M:%S') %></p>
  </div>
</div>

<div class="favorite">
  <%= link_to review_path(review.id) do %>
    <i class="fas fa-comment"></i><%= review.comments.count %>
  <% end %>
  <span class="favorite_<%= review.id %>">
    <%= render 'user/favorites/favorite_btn' , review: review %>
  </span>
</div>

<div class="row mt-3 justify-content-center mb-3">
  <% if review.user == current_user %>
    <div class="col-lg-3"><%= link_to '編集', edit_review_path(review.id), class: "btn btn-success btn-block" %></div>
    <div class="col-lg-3"><%= link_to '削除', review_path(review.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger btn-block" %></div>
  <% end %>
</div>
