<%= form_with url: review_search_path, method: :get do |f| %>
  <!--Mystery複数選択チェックボックス-->
  <div class="row offset-1 mt-5">
    <%= f.label :mystery_id, "謎解き方法", class: "col-lg-4" %>
    <%= collection_check_boxes(:review, :mystery_ids, Mystery.all, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
  </div>

  <!--謎解き方法複数選択セレクトボックス-->
    <div class="row offset-1 mt-5">
      <%= f.label :difficulty_id, "謎解き方法", class: "col-lg-4" %>
      <%= collection_check_boxes(:review, :difficulty_ids, Difficulty.all, :id, :name) do |b| %>
        <%= b.label { b.check_box + b.text } %>
      <% end %>
    </div>

    <!--タグ複数選択セレクトボックス-->
     <div class="row offset-1 mt-5">
      <%= f.label :tag_id, "タグ", class: "col-lg-4" %>
      <%= collection_check_boxes(:review, :tag_ids, Tag.all, :id, :name) do |b| %>
        <%= b.label { b.check_box + b.text } %>
      <% end %>
    </div>

<% end %>