<div class="container">
  <dvi class="row justify-content-center mt-5"><h2>レビュー検索</h2></dvi>


  <%= form_with(scope: :search, url: review_search_path, method: :get) do |f| %>
    <!--Type選択セレクトボックス-->
    <div class="form-grop row offset-1 mt-5">
      <%= f.label :type_id,"分類", class: "col-lg-4" %>
      <%= f.collection_select :type_id, Type.all, :id, :name, include_blank: "選択してください", class: "col-lg-4" %>
    </div>

    <!--Long選択セレクトボックス-->
    <div class="form-grop row offset-1 mt-5">
      <%= f.label :long_id,"長さ", class: "col-lg-4" %>
      <%= f.collection_select :long_id, Long.all, :id, :name, include_blank: "選択してください", class: "col-lg-4" %>
    </div>

    <!--Mystery複数選択チェックボックス-->
    <div class="row offset-1 mt-5">
      <%= f.label :mystery_id, "謎解き方法", class: "col-lg-4" %>
      <%= f.collection_check_boxes(:mystery_ids, Mystery.all, :id, :name) do |b| %>
        <%= b.label { b.check_box + b.text } %>
      <% end %>
    </div>

    <!--謎解き方法複数選択セレクトボックス-->
    <div class="row offset-1 mt-5">
      <%= f.label :difficulty_id, "読みやすさ", class: "col-lg-4" %>
      <%= f.collection_check_boxes(:difficulty_ids, Difficulty.all, :id, :name) do |b| %>
        <%= b.label { b.check_box + b.text } %>
      <% end %>
    </div>

    <!--タグ複数選択セレクトボックス-->
     <div class="row offset-1 mt-5">
      <%= f.label :tag_id, "タグ", class: "col-lg-4" %>
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |b| %>
        <%= b.label { b.check_box + b.text } %>
      <% end %>
    </div>



    <div class="form-grop row justify-content-center m-5">
      <%= f.submit "検索", class: "btn btn-success col-lg-3 mr-5" %>

    </div>

  <% end %>


  <% unless @search_params.blank? %>
    <% if @reviews.exists? %>
      <div class="row justify-content-center mt-5"><h3>みんなの感想</h3></div>


      <% @reviews.each do |review| %>
        <div class="row border p-3 mt-3 offset-1">
          <div class="col-lg-3 center">
            <%= link_to user_path(review.user_id) do %>
              <%= image_tag review.user.get_profile_image(200,200) %>
              <p><%= review.user.name %></p>
            <% end %>
          </div>
          <div class="col-lg-8">
            <%= render 'user/reviews/review', review: review %>
          </div>
          <div class="row justify-content-center mb-3"><%= paginate @reviews %></div>
        </div>


      <% end %>
    <% else %>
      <div class="row justify-content-center mt-5"><h3>感想はまだありません</h3></div>
    <% end %>
  <% end %>


</div>