<div class="container">
  
  <div class="row mt-5 mb-3">
    <div class="col-lg-6"><h3>レビューされた本</h3></div>
  </div>

  <div class="row border p-3">
    <div class="col-lg-4 text-center">
      <%= image_tag(@review.book.image) %>
    </div>

    <div class="col-lg-7">
      <div class="row"><h3>『 <%= @review.book.title %> 』</h3></div>
      <div class="row"><h4><%= @review.book.author %></h4><h5>　(出版：<%= @review.book.publisher_name %>)</h5></div>
      <div class="row"><%= @review.book.item_caption %></div>
    </div>
  </div>
  
  <div class="row mt-5">

    <div class="col-lg-4">
      <%= link_to user_path(@review.user_id) do %>
        <div class="row justify-content-center"><%= image_tag @review.user.get_profile_image(200,200) %></div>
        <div class="row justify-content-center"><%= @review.user.name %></div>
      <% end %>
    </div>


    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-4">分類：</div>
        <div class="col-lg-8"><%= @review.type.name %></div>
      </div>

      <div class="row">
        <div class="col-lg-4">長さ：</div>
        <div class="col-lg-8"><%= @review.long.name %></div>
      </div>

      <div class="row">
        <div class="col-lg-4">謎解き：</div>
        <% @review.mysteries.each do |mystery| %>
          <div class="col-lg-3"><%= mystery.name %></div>
       <% end %>
      </div>

      <div class="row">
        <div class="col-lg-4">読みやすさ：</div>
        <% @review.difficulties.each do |difficulty| %>
          <div class="col-lg-3"><%= difficulty.name %></div>
       <% end %>
      </div>

      <div class="row">
        <div class="col-lg-4">タグ：</div>
        <% @review.tags.each do |tag| %>
          <div class="col-lg-3"><%= tag.name %></div>
       <% end %>
      </div>

      <div class="row">
        <div class="col-lg-4">感想：</div>
        <div class="col-lg-8"><%= @review.body %></div>
      </div>

      <div class="row">
        <div class="col-lg-4">ネタバレ：</div>
        <div class="col-lg-8"><%= @review.netabare %></div>
      </div>

      <div class="row">
        <%= render 'user/favorites/favorite_btn' , review: @review %>
      </div>



      <% @review.comments.each do |comment| %>
        <div class="row border-top mt-5 p-3">
          <div class="col-lg-2"><%= image_tag comment.user.get_profile_image(100,100) %></div>
          <div class="col-lg-6">
            <div class="row"><%= comment.comment %></div>
            <div class="row justify-content-end">
              <%= comment.user.name %>
              (<%= comment.created_at.strftime('%Y/%m/%d %I:%M:%S') %>)
              <% if comment.user == current_user %>
                <%= link_to "削除", review_comment_path(comment.review, comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <!--ログインしている場合、コメント入力欄を表示-->
      <% if user_signed_in? %>
        <div class="justify-content-center mt-5">
          <%= form_with model: [@review, @comment] do |f| %>
            <%= f.text_area :comment, rows: '5', placeholder: "コメント", class: "col-lg-6" %>
            <%= f.submit "送信する" %>
          <% end %>
        </div>
      <% end %>


    </div>
  </div>
</div>