<div class="container">

  <div class="row mt-5 mb-3">
    <div class="col-lg-6"><h3>レビューされた本</h3></div>
  </div>

  <div class="row border p-3">
    <div class="col-lg-4 text-center">
      <%= image_tag(@review.book.image) %>
    </div>

    <div class="col-lg-7">
      <div class="row"><h3>『 <%= @review.book.title %> 』</h3></div>
      <div class="row"><h4><%= @review.book.author %></h4><h5>　(出版：<%= @review.book.publisher_name %>)</h5></div>
      <div class="row"><%= @review.book.item_caption %></div>
    </div>
  </div>

  <div class="row mt-5">

    <div class="col-lg-4">
      <%= link_to user_path(@review.user_id) do %>
        <div class="row justify-content-center"><%= image_tag @review.user.get_profile_image(200,200) %></div>
        <div class="row justify-content-center"><%= @review.user.name %></div>
      <% end %>
    </div>


    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-4">分類：</div>
        <div class="col-lg-8"><%= @review.type.name %></div>
      </div>

      <div class="row">
        <div class="col-lg-4">長さ：</div>
        <div class="col-lg-8"><%= @review.long.name %></div>
      </div>

      <div class="row">
        <div class="col-lg-4">謎解き：</div>
        <% @review.mysteries.each do |mystery| %>
          <div class="col-lg-3"><%= mystery.name %></div>
       <% end %>
      </div>

      <div class="row">
        <div class="col-lg-4">読みやすさ：</div>
        <% @review.difficulties.each do |difficulty| %>
          <div class="col-lg-3"><%= difficulty.name %></div>
       <% end %>
      </div>

      <div class="row">
        <div class="col-lg-4">タグ：</div>
        <% @review.tags.each do |tag| %>
          <div class="col-lg-3"><%= tag.name %></div>
       <% end %>
      </div>

      <div class="row">
        <div class="col-lg-4">感想：</div>
        <div class="col-lg-8"><%= @review.body %></div>
      </div>

      <div class="row">
        <div class="col-lg-4">ネタバレ：</div>
        <div class="col-lg-8"><%= @review.netabare %></div>
      </div>

      <div class="row">
        <div class="favorite_<%= @review.id %>">
          <%= render 'user/favorites/favorite_btn' , review: @review %>
        </div>
      </div>

      <div class="index_<%= @review.id %>"><%= render 'user/comments/comment_index', review: @review %></div>
      <%= render 'user/comments/form', {review: @review, comment: @comment} %>

    </div>
  </div>
</div>