<div class="center">
  <h2 class="red">通報</h2>


  <%= form_with model: @report, url: reports_path, method: :post do |f| %>
    <%= render "layouts/errors", obj: @report %>

    <%= f.hidden_field :review_id, :value => @review_id %>

    <div  id="form" class="row">
      <%= f.label :category,"通報分類", class: "col-lg-4" %><div class="red">＊</div>
      <%= f.select :category, {'ネタバレを含む内容が通常の感想記入欄にある': 2, '攻撃的な内容が含まれる': 3, '差別的な内容が含まれている': 4, '不快な内容が含まれている': 5, '法令に内容が含まれている': 6, 'その他': 7}, { include_blank: '選択してください'}, class: "col-lg-6" %>
    </div>

    <div  id="form" class="row">
      <%= f.label :body,"内容詳細", class: "col-lg-4" %>
      <%= f.text_area :comment, class: "form-control col-lg-6", size: "30x10" %>
    </div>

    <div class="row justify-content-center">
      <%= f.submit "通報する", class: "submit_create col-lg-3 m-5" %>
    </div>
  <% end %>
</div>
