<% if users.exists? %>
  <% users.each do |user| %>
    <div class="row border p-1 my-3">
      <div class="col-lg-4 text-center">
        <%= link_to user_path(user.id) do %>
          <%= image_tag user.get_profile_image(150,150) %><br>
          <%= user.name %>
        <% end %>
      </div>
      <div class="col-lg-6">
        <%= user.introduction %>
      </div>
      <div class="col-lg-2">
        <%= render 'user/follow_relationships/follow_btn', user: user %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>