<div class="container">
  <div class="row justify-content-center offset-1 mt-5">
    <div class="col-lg-4">
      <h2>Book search</h2>
    </div>
    <div class="col-lg-4" id="search-box">
      <%= form_tag(searchs_path, method: :get) do %>
        <%= text_field_tag :keyword, "", id: "search", name: "keyword", placeholder: "本のタイトル", style: "width: 200px;" %>
        <button title="検索" type="submit">検索</button>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <h2>検索結果</h2>
  </div>
  <div class="row justify-content-center">
    <% if @searchs.present? %>
      <% @searchs.each do |search| %>
        <div class="col-lg-3  border p-3 m-3">
          <div class="row justify-content-center text-center mb-3"><%= search.title %></div>
          <div class="row justify-content-center mb-3"><%= image_tag(search.large_image_url) %></div>
          <div class="row justify-content-center mb-3"><%= search.author %></div>
          <div class="row justify-content-center mb-3"><%= search.publisher_name %></div>
          <div class="row justify-content-center"><%= link_to '詳細へ', search_path(isbn: search.isbn) %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
