<div class="container">
  <div class="row justify-content-center offset-1 mt-5">
    <div class="col-lg-4">
      <h2>Book search</h2>
    </div>
    <div class="col-lg-4" id="search-box">
      <%= form_tag(searchs_path, method: :get) do %>
        <%= text_field_tag :keyword, "", id: "search", name: "keyword", placeholder: "本のタイトル", style: "width: 200px;" %>
        <button title="検索" type="submit">検索</button>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <h2>検索結果</h2>
  </div>
  <div class="row justify-content-center">
    <% if @searchs.present? %>
      <% @searchs.each do |search| %>
        <div class="col-lg-3  border p-3 m-3">
          <div class="row justify-content-center text-center mb-3"><%= search.title %></div>
          <div class="row justify-content-center mb-3"><%= image_tag(search.large_image_url) %></div>
          <div class="row justify-content-center mb-3"><%= search.author %></div>
          <div class="row justify-content-center mb-3"><%= search.publisher_name %></div>
          <%  unless Book.exists?(isbn: search.isbn) %>
            <div>
              <%= form_with model: @book, url: books_path, method: :post do |f| %>
                <%= f.hidden_field :title, :value => search.title %>
                <%= f.hidden_field :author, :value => search.author %>
                <%= f.hidden_field :isbn, :value => search.isbn %>
                <%= f.hidden_field :sales_date, :value => search.sales_date %>
                <%= f.hidden_field :image, :value => search.large_image_url %>
                <%= f.hidden_field :rakuten_url, :value => search.item_url %>

                <%= f.submit '詳細へ' %>
              <% end %>
            </div>
          <% else %>
            <div class="row justify-content-center"><%= link_to '詳細へ', search_path(isbn: search.isbn) %></div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
