<div class="container">
  <% @search.each do |search| %>
    <div class="row mt-5 justify-content-center">
      <div class="col-lg-6">
        <h3><%= search.title %></h3>
      </div>
    </div>

    <div class="row justify-content-center mt-3">
      <div class="col-lg-2">
        <div class="row justify-content-center">
          <%= image_tag(search.large_image_url) %>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="row justify-content-center">
          <%= search.author %>　著
        </div>
        <div class="row justify-content-center">
          <%= search.publisher_name %>　出版
        </div>
        <div class="row justify-content-center">
          <%= search.sales_date %>　発売
        </div>
        <div class="row justify-content-center">
          <%= search.item_price %>円(税込み)
        </div>
        <div class="row justify-content-center">
          <%= search.item_caption %>)
        </div>
      </div>
    </div>
  <% end %>
</div>