<h2>会員一覧</h2>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>会員ID</th>
      <th>名前</th>
      <th></th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr onclick="window.location.href='<%= admin_user_path(user.id) %>'" role="link">
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= image_tag user.get_profile_image(80,80) %></td>
        <td><%= user.email %></td>
        <% if user.is_deleted == true %>
          <td class="text-danger">退会</td>
        <% else %>
          <td class="text-success">有効</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row justify-content-center mb-3"><%= paginate @users %></div>

