<h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>">
<%= @user.name %></h1>

<div class="message">
 <%= render "message", direct_messages: @direct_messages %>
</div>


<div class="errors">
  <%= render "layouts/errors", obj: @message %>
</div>

<%= form_with model: @message, local: false do |f| %>
  <%= f.text_field :message, class: "col-md-11"  %>
  <%= f.hidden_field :dm_room_id %>
  <%= f.submit 'é€ä¿¡', class: "btn_submit" %>
<% end %>