<h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>">
<%= @user.name %></h1>

  <% @messages.each do |direct_message| %>
    <% if direct_message.user_id == current_user.id %>
      <div class="row justify-content-end">
        <div class="col-md-6 text-right">
          <div class="send text-left"><%= direct_message.message %></div>
          <div><%= direct_message.created_at.strftime('%Y/%m/%d %H:%M:%S') %></div>
        </div>
      </div>
    <% else %>
      <div class="row justify-content-start">
        <div class="receive col-md-6">
          <%= image_tag direct_message.user.profile_image, class: "dm_image" %>
          <%= direct_message.message %>
          <div><%= direct_message.created_at.strftime('%Y/%m/%d %H:%M:%S') %></div>
        </div>
      </div>
    <% end %>
  <% end %>


<div class="errors">
  <%= render "layouts/errors", obj: @message %>
</div>

<%= form_with model: @message do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :dm_room_id %>
  <%= f.submit 'é€ä¿¡' %>
<% end %>