<% @another_entries.each do |entry| %>
  <div class="border m-3">
    <%= image_tag entry.user.profile_image, size: "100x100" %>
    <%= link_to direct_message_path(entry.user_id) do %>
      <%= entry.user.name %>
    <% end %>

  </div>
  <%= most_new_message_preview(entry) %>

<% end %>





<% @massege.each do |test| %>
  <%= (test.message) %>
<% end %>



