<div class="center mt-3"><h2>Book Rankings</h2>
  <h5>
    <% if (params[:sort]) == "review" %>
      レビュー数
    <% elsif (params[:sort]) == "want" %>
      読みたい本
    <% elsif (params[:sort]) == "reading" %>
      読んでいる本
    <% elsif (params[:sort]) == "read" %>
      読んだ本
    <% else %>
      積読本
    <% end %>
  </h5>
  <%= link_to "レビュー数", rank_path(sort: 'review') %>
  　|　<%= link_to "読みたい本", rank_path(sort: 'want') %>
  　|　<%= link_to "読んでいる本", rank_path(sort: 'reading') %>
  　|　<%= link_to "読んだ本", rank_path(sort: 'read') %>
  　|　<%= link_to "積読本", rank_path(sort: 'get') %>
</div>


<div class="row">
  <% @books.each.with_index(1) do |book, i| %>

    <% if i == 1 %>
      <div class="text-warning"><h2><i class="fas fa-chess-king "></i> No.1</h2></div>
      <%= render 'book', book: book %>

    <% elsif i == 2 %>
      <div class="text-secondary"><h2><i class="fas fa-trophy"></i> No.2</h2></div>
      <%= render 'book', book: book %>

    <% elsif i == 3 %>
      <div class="text-danger"><h2><i class="fas fa-medal"></i> No.3</h2></div>
      <%= render 'book', book: book %>

    <% elsif i == 4 %>
      <h4>No.4</h4>
      <%= render 'book', book: book %>

    <% elsif i == 5 %>
      <h4>No.5</h4>
      <%= render 'book', book: book %>

    <% else %>
      <div class="col-lg-4 mt-5">
        <h5>No.<%= i %></h5>
        <%= render 'book_down', book: book %>
      </div>
    <% end %>

  <% end %>
</div>
