<!DOCTYPE html>
<html>
  <head>
    <title>done it?</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <div class="footerFixed">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
          <%= link_to root_path, class: "nav-link text-white" do %>
            <%= image_tag 'icon.png', size: "40x40" %> <%= image_tag 'done_it.png', size: "209x40" %>
          <% end %>


          <!--ハンバーガーアイコン-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!--ハンバーガーが開いていた場合のヘッダー-->
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

              <% if user_signed_in? %>
              <!--ログイン済みのヘッダー-->
                <li class="nav-item">
                  <%= link_to searchs_path, class: 'nav-link text-white' do %>
                    <i class="fas fa-book"></i> Seach
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to about_path, class: 'nav-link text-white' do %>
                    <i class="fas fa-search"></i> About
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to rank_path(sort: 'review'), class: 'nav-link text-white' do %>
                    <i class="fas fa-crown"></i> Book ranking
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to review_search_path, class: 'nav-link text-white' do %>
                    <i class="fas fa-search"></i> Review search
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to user_path(current_user.id), class: 'nav-link text-white' do %>
                    <i class="fas fa-user"></i> My page
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to user_time_line_path(current_user.id), class: 'nav-link text-white' do %>
                    <i class="fas fa-user"></i> Time line
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_user_session_path, class: 'nav-link text-white', method: :delete do %>
                    <i class="fas fa-sign-out-alt"></i> Log out
                  <% end %>
                </li>


              <% else %>
              <!--ログイン前のヘッダー-->
                <li class="nav-item">
                  <%= link_to about_path, class: 'nav-link text-white' do %>
                    <i class="fas fa-search"></i> About
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to rank_path(sort: 'review'), class: 'nav-link text-white' do %>
                    <i class="fas fa-crown"></i> Book ranking
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_registration_path, class: 'nav-link text-white' do %>
                    <i class="fas fa-user-plus"></i> Sign up
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_session_path, class: 'nav-link text-white' do %>
                    <i class="fas fa-sign-in-alt"></i> Log in
                  <% end %>
                </li>

              <% end %>
            </ul>

          </div>
        </div>
      </nav>
    </header>

    <body>
      <div class="container">
        <%= render partial: 'layouts/flash' %>
        <%= yield %>
      </div>
    </body>

    <footer>
      <p class="footer-text">© All rights reserved by Infratop.Inc.</p>
    </footer>
   </div>
</html>